.card {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 100%;
    height: 150px;
    border-radius: 5px;
}

.card h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.card p {
    margin: 10px 0;
    font-size: 12px;
}
